html, body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    scroll-behavior: smooth !important;
}

body {
    overflow-y: scroll;
}

/* Scrollbar Firefox, Blink */
* {
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #E4FF3D #18191b;
}


/* Scrollbar Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #18191b;
}

*::-webkit-scrollbar-thumb {
    background-color: #E4FF3D;
    border-radius: 10px;
    border: 2px solid #18191b;
}


/* splashscreen */

.intro {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    transition: 1s;
}

.logo-header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.logo-header>span {
    display: inline;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
}

.logo {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
    margin-left: 0;
}

.logo.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

.stop-scrolling {
    overflow: hidden;
}

/* h2 section */

#container-h2 {
    position: relative;
    margin-top: 4%;
    margin-left: 10%;
}

#h2-section {
    font-family: 'Source Code Pro', monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 33px;
    align-items: center;
    position: relative;
    color: #18191b;
    width: max-content;
}

.typing::before,
.typing::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.typing::before {
    background-color: #fff;
    animation: typewriter 1s steps(36) 1s forwards;
    animation-delay: 1.3s;
}

.typing::after {
    width: 0.1em;
    height: 35px;
    background-color: #18191b;
    animation: typewriter 1s steps(36) 1s forwards,
        blink 800ms steps(36) infinite;
    animation-delay: 1.3s;
}

@keyframes typewriter {
    to {
        left: 100%;
    }
}

@keyframes blink {
    50% {
        background-color: transparent;
    }
}

/* selector class */

#selector-class {
    width: 100%;
    align-content: center;
    display: flex;
    margin-top: 1%;
    padding-bottom: 0.5%;
}

.ul-selector {
    display: flex;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    list-style-type: none;
}


.ul-selector a {
    color: #18191b;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.ul-selector li {
    flex: 1 0 auto;
    width: 150px;
    height: 80px;
    font-family: Fira Code;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    align-items: center;
    text-align: center;
    display: table;
    margin: 0px auto 0px auto;
    line-height: 80px;
    opacity: 0.3;
}

.ul-selector li:hover, .active {
    opacity: 1;
}

#all {
    opacity: 1;
}



/* grid images  */

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 1 4px;
    margin: 1% auto;
    width: 60%;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 33%;
    flex: 33%;
    max-width: auto;
    padding: 0 10px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.column button {
    margin-top: 8px;
    cursor: pointer;
    padding: 4%;
    width: 100%;
    height: 450px;
    border: none;
    outline: none;
    margin-bottom: 3%;
    vertical-align: middle;
    transition: 0.2s;
    font-size: 15px;
    opacity: 1;
    object-fit: contain;
}

.column button:hover {
    opacity: 0.9;
}

.column button h2 {
    width: 100%;
    height: 100%;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.column>img {
    width: 100%;
}

.column button h2 span {
    position: relative;
    text-align: right;
    font-family: Fira Code;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 2%;
    width: 30%;
    right: 5%;
    top: 68%;
    color: #070707;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.8));
}

.column button h2 span.uiux {
    background-color: #fcbb6d;
    width: fit-content;
    color: #fff;
    opacity: 1;
    z-index: 100;
}

.column button h2 span.projet-3D {
    background-color: #45ada8;
    width: fit-content;
    color: #fff;
    opacity: 1;
    z-index: 100;
}

.column button h2 span.jv {
    background-color: #9de0ad;
    width: fit-content;
    color: #fff;
    opacity: 1;
    z-index: 100;
}

#riven_3d {
    /* height: 490px; */
    background-image: url(../assets/portfolio/3d/riven_3d/0ac3b1130733011.61868f37f1009.png);
    background-position: center;
    background-size: 80%;
    -webkit-transition: all 0.3s ease-in-out;
}

#riven_3d:hover {
    background-size: 90%;
    -webkit-transition: all 0.3s ease-in-out;
}

#ui-steam {
    /* height: 350px; */
    background-image: url(../assets/portfolio/ui_ux/steam_rework/0a5e24133265377.61b9d15d60f3c.png);
    background-position: center;
    background-size: 160%;
    -webkit-transition: all 0.3s ease-in-out;
}

#ui-steam:hover {
    background-size: 180%;
    -webkit-transition: all 0.3s ease-in-out;
}

#ux-tregre {
    /* height: 600px; */
    background-image: url(../assets/portfolio/ui_ux/tregre/j4156fe68420fd.png);
    background-position: 80% 25%;
    background-size: 120%;
    -webkit-transition: all 0.3s ease-in-out;
}

#ux-tregre:hover {
    background-size: 140%;
    -webkit-transition: all 0.3s ease-in-out;
}

#mhk {
    /* height: 250px; */
    background-image: url(../assets/portfolio/ui_ux/MHK/3e894b113976643.6032bf0ce8988.png);
    background-position: 100% 10%;
    background-size: 165%;
    -webkit-transition: all 0.3s ease-in-out;
}

#mhk:hover {
    background-size: 185%;
    -webkit-transition: all 0.3s ease-in-out;
}

#pr_skoda {
    /* height: 350px; */
    background-image: url(../assets/portfolio/ui_ux/skoda/875894113976625.6032bef978f8e.png);
    background-position: 100% 90%;
    background-size: 165%;
    -webkit-transition: all 0.3s ease-in-out;
}

#pr_skoda:hover {
    background-size: 185%;
    -webkit-transition: all 0.3s ease-in-out;
}

#omote-gate {
    /* height: 450px; */
    background-image: url(../assets/portfolio/3d/omote_gate/cb7406112820273.601bc13657910.png);
    background-position: 55% 90%;
    background-size: 190%;
    -webkit-transition: all 0.3s ease-in-out;
}

#omote-gate:hover {
    background-size: 215%;
    -webkit-transition: all 0.3s ease-in-out;
}

#rammstein {
    /* height: 350px; */
    background-image: url(../assets/portfolio/3d/rammstein_scene/1f539f110755033.5ff4d974e9dce.png);
    background-position: 50% 50%;
    background-size: 165%;
    -webkit-transition: all 0.3s ease-in-out;
}

#rammstein:hover {
    background-size: 185%;
    -webkit-transition: all 0.3s ease-in-out;

}

#dont-fall {
    /* height: 390px; */
    background-image: url(../assets/portfolio/video_game/dont_fall/e29a81110663695.5ff3553ae5401.png);
    background-position: 55% 90%;
    background-size: 165%;
    -webkit-transition: all 0.3s ease-in-out;
}

#dont-fall:hover {
    background-size: 185%;
    -webkit-transition: all 0.3s ease-in-out;
}

#HTC-halloween {
    /* height: 420px; */
    background-image: url(../assets/portfolio/video_game/hit_the_cloud_halloween/434fc489781829.5e008b26723e7.jpg);
    background-position: 50% 50%;
    background-size: 165%;
    -webkit-transition: all 0.3s ease-in-out;
}

#HTC-halloween{
    background-size: 185%;
    -webkit-transition: all 0.3s ease-in-out;
}

#the-desk {
    /* height: 390px; */
    background-image: url(../assets/portfolio/3d/the_desk/77a03189123557.5deac9a8dc9de.png);
    background-position: 65% 20%;
    background-size: 165%;
    -webkit-transition: all 0.3s ease-in-out;
}

#the-desk:hover{
    background-size: 185%;
    -webkit-transition: all 0.3s ease-in-out;
}

#HTC-snow {
    /* height: 470px; */
    background-image: url(../assets/portfolio/video_game/hit_the_cloud_snow/feeff258971061.5a10374639a8f.png);
    background-position: 50% 50%;
    background-size: 165%;
    -webkit-transition: all 0.3s ease-in-out;
}

#HTC-snow:hover{
    background-size: 185%;
    -webkit-transition: all 0.3s ease-in-out;
}

#frozen-bow {
    /* height: 350px; */
    background-image: url(../assets/portfolio/3d/frozen_bow/1dc6a158713571.5a0634592d731.png);
    background-position: 55% 50%;
    background-size: 165%;
    -webkit-transition: all 0.3s ease-in-out;
}

#frozen-bow:hover {
    background-size: 185%;
    -webkit-transition: all 0.3s ease-in-out;
}



@media screen and (min-device-width: 1551px) and (max-device-width: 2540px) {

    .column {
        flex: 50%;
    }

    .column button {
        max-width: 100%;
        max-height: 20vw;
    }

    .column button h2 span {
        width: 50%;
        font-size: 1vw;
    }
}

@media screen and (min-device-width: 769px) and (max-device-width: 1550px) {

    .column {
        flex: 50%;
    }

    .column button {
        max-width: 100%;
        max-height: 20vw;
    }

    .column button h2 span {
        width: 50%;
        font-size: 1vw;
        padding: 0 1vw;
    }
}


@media (max-width: 768px) {

    #h2-section {
        font-size: 3.2vw;
    }

    #selector-class {
        width: 100%;
    }

    .ul-selector li {
        font-size: 3.5vw;
        width: 21vw;
    }

    .row {
        width: 90%;
    }

    .column {
        flex: 50%;
    }

    .column button {
        max-width: 100%;
        max-height: 20vw;
        object-fit: contain;
    }

    .column button h2 span {
        font-size: 1.5vw;
        padding: 0.2% 2%;
    }

    .column button h2 {
        height: 0;
    }

}