html, body {
	margin: 0;
	padding: 0;
	background-color: #fff;
	scroll-behavior: smooth !important;
}

body {
	overflow-y: scroll;
}

/* Scrollbar Firefox, Blink */
* {
	box-sizing: border-box;
	scrollbar-width: thin;
	scrollbar-color: #E4FF3D #18191b;
}


/* Scrollbar Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 12px;
}

*::-webkit-scrollbar-track {
	background: #18191b;
}

*::-webkit-scrollbar-thumb {
	background-color: #E4FF3D;
	border-radius: 10px;
	border: 2px solid #18191b;
}

/* splashscreen */

.intro {
	position: fixed;
	z-index: 999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	background-color: #161616;
	transition: 1s;
}

.logo-header {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);

}

.logo-header>span {
	display: inline;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	font-size: 3rem;
}

.logo {
	position: relative;
	display: inline-block;
	bottom: -20px;
	opacity: 0;
	margin-left: 0;
}

.logo.active {
	bottom: 0;
	opacity: 1;
	transition: ease-in-out 0.5s;
}

.logo.fade {
	bottom: 150px;
	opacity: 0;
	transition: ease-in-out 0.5s;
}

.stop-scrolling {
	overflow: hidden;
}

/* h2 section */

#container-h2 {
	position: relative;
	margin-top: 4%;
	margin-left: 10%;
}

#h2-section {
	font-family: 'Source Code Pro', monospace;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 33px;
	align-items: center;
	position: relative;
	color: #18191b;
	width: max-content;
}

.typing::before,
.typing::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.typing::before {
	background-color: #fff;
	animation: typewriter 1s steps(34) 1s forwards;
	animation-delay: 1.3s;
}

.typing::after {
	width: 0.1em;
	height: 35px;
	background-color: #18191b;
	animation: typewriter 1s steps(34) 1s forwards,
		blink 800ms steps(34) infinite;
	animation-delay: 1.3s;
}

@keyframes typewriter {
	to {
		left: 100%;
	}
}

@keyframes blink {
	50% {
		background-color: transparent;
	}
}

/* accordion */

#accordions-container {
	position: relative;
	margin-top: 3%;
}

#accordions-container #content {
	margin: 0 auto;
	width: 60%;
}

#accordions-container #content h2 {
	background-color: #000;
	width: fit-content;
	margin: 0 auto;
	padding: 5px 15px 5px 15px;
	color: #fff;
	font-family: Fira Code;
	font-style: normal;
	font-weight: 300;
	font-size: 23px;
}

.accordion {
	color: #000;
	cursor: pointer;
	padding: 4%;
	width: 100%;
	height: 10%;
	border: none;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
	margin-bottom: 3%;

	-webkit-box-shadow: 5px 5px 14px 3px rgba(0, 0, 0, 0.24);
	box-shadow: 5px 5px 14px 3px rgba(0, 0, 0, 0.24);
}

.links-accordion {
	text-decoration: none;
	line-height: 1.5;
	color: #D61F28;
	font-family: Fira Code;
	font-style: normal;
}

.nolinks-accordion {
	line-height: 1.5;
	color: #1d68dd;
	font-family: Fira Code;
	font-style: normal;
}


/* details effect accordion */
/* SNT */

#snt_uiux {
	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.05)),
		url("../assets/images/snt_project/Simulateur_4.png");
	background-position: 20% 25%;
}

#snt_uiux.active, #snt_uiux:hover {
	background-image: linear-gradient(rgba(149, 13, 161, 0.4), rgba(35, 175, 42, 0.2)),
		url("../assets/images/snt_project/Simulateur_4.png");
}

.accordion#snt_uiux:hover, .accordion#snt_uiux.active {
	transform: translateY(3%);
	transition-duration: 0.7s ease-in-out;
	background-position: 20% 40%;
}

/* laravel-kalam */
#laravel-kalam {
	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.05)),
		url("../assets/images/kalam-br/br_immo_listing.png");
	background-position: 73% 31%;
}

#laravel-kalam.active, #laravel-kalam:hover {
	background-image: linear-gradient(rgba(0, 48, 207, 0.6), rgba(245, 187, 94, 0.5)),
		url("../assets/images/kalam-br/br_immo_listing.png");
}

.accordion#laravel-kalam:hover, .accordion#laravel-kalam.active {
	transform: translateY(3%);
	transition-duration: 0.7s ease-in-out;
	background-position: 73% 46%;
}

/* comptapic-kalam */
#comptapic-kalam {
	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.05)),
		url("../assets/images/comptapic-project/comptapic_main.png");
	background-position: 73% 40%;
}

#comptapic-kalam.active, #comptapic-kalam:hover {
	background-image: linear-gradient(rgba(177, 121, 19, 0.4), rgba(124, 27, 235, 0.2)),
		url("../assets/images/comptapic-project/comptapic_main.png");
}

.accordion#comptapic-kalam:hover, .accordion#comptapic-kalam.active {
	transform: translateY(3%);
	transition-duration: 0.7s ease-in-out;
	background-position: 73% 65%;
}

/* strathena */
#strathenai4 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.05)),
		url("../assets/images/strathena_project/strathena_regle.png");
	background-position: 80% 15%;
}

#strathenai4.active, #strathenai4:hover {
	background-image: linear-gradient(rgba(24, 90, 157, 0.6), rgba(67, 206, 162, 0.4)),
		url("../assets/images/strathena_project/strathena_regle.png");
}

.accordion#strathenai4:hover, .accordion#strathenai4.active {
	transform: translateY(3%);
	transition-duration: 0.7s ease-in-out;
	background-position: 80% 40%;
}

/* panel accordion */

.panel {
	padding: 0 18px 50px 18px;
	display: none;
	overflow: hidden;
	background-color: #ECF8FF;
	transition-duration: 12s;
}

.inner-div-accordion {
	font-family: Fira Code;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #18191b;
}

ul {
	margin: 0;
}

ul.dashed {
	list-style-type: none;
}

ul.dashed>li {
	color: #18191b;
	font-family: Fira Code;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
}

ul.dashed>li:before {
	content: "-";
}

/* Clearfix (clear floats) */
.row::after {
	content: "";
	clear: both;
	display: table;
}

.column>img {
	width: 100%;
}

.column {
	float: left;
	width: 25%;
	padding: 5px;
}

/* The Modal (background) */
.modal {
	display: none;
	position: fixed;
	z-index: 101;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: black;
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
	z-index: 1000;
}

/* Modal Content */
.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	width: 90%;
	max-width: 1300px;
}

/* The Close Button */
.close {
	color: #000;
	position: fixed;
	float: right;
	right: 3%;
	font-size: 35px;
	font-weight: bold;
	padding: 0.1% 0.8% 0.1% 0.8%;
	background-color: #E4FF3D;
}

.close:hover,
.close:focus {
	color: #999;
	text-decoration: none;
	cursor: pointer;
}

.mySlides {
	display: none;
	margin-top: 6%;
}

.cursor {
	cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
	font-family: Fira Code;
	font-style: normal;
	font-weight: normal;
	background-color: rgba(7, 7, 7, 0.6);
}

img {
	width: 100%;
}

.caption-container {
	text-align: center;
	background-color: black;
	padding: 2px 16px;
	color: white;
	font-family: Fira Code;
	font-style: normal;
	font-weight: normal;
	overflow: hidden;
}

.demoSNT, .demoLaravel, .demoComptapic, .demoStrathena {
	opacity: 0.6;
}

.active,
.demoSNT:hover, .demoLaravel:hover, .demoComptapic:hover, .demoStrathena:hover {
	opacity: 1;
}

.demo-sc {
	/* opacity: 0.6; */
	background-color: rgba(255, 255, 255, 0.4);
}

.demo-sc:hover {
	opacity: 1;
}

img.hover-shadow {
	transition: 0.3s;
}

.hover-shadow:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 1045px) {


	#accordions-container #content h2 {
		padding: 5px 8px 5px 8px;
		font-size: 16px;
	}

	/* background size */

	#snt_uiux {
		background-size: 150%;
	}

	.accordion#snt_uiux:hover, .accordion#snt_uiux.active {
		background-size: 150%;
	}

	/* laravel-kalam */
	#laravel-kalam {
		background-size: 150%;
	}

	.accordion#laravel-kalam:hover, .accordion#laravel-kalam.active {
		background-size: 150%;
	}

	/* comptapic-kalam */
	#comptapic-kalam {
		background-size: 150%;
	}

	.accordion#comptapic-kalam:hover, .accordion#comptapic-kalam.active {
		background-size: 150%;
	}

	/* strathena */
	#strathenai4 {
		background-size: 150%;
	}

	.accordion#strathenai4:hover, .accordion#strathenai4.active {
		background-size: 150%;
	}

}

@media (max-width: 920px) {
	#accordions-container #content h2 {
		padding: 5px 8px 5px 8px;
		font-size: 12px;
	}
}

@media (max-width: 768px) {

	#h2-section {
		font-size: 3.2vw;
	}

	#accordions-container #content {
		width: 80%;
	}

	#accordions-container #content h2 {
		padding: 5px 8px 5px 8px;
		font-size: 10px;
	}

	.accordion {
		padding: 7%;
	}

	.inner-div-accordion {
		font-size: 0.8rem;
		line-height: 1.25rem;
	}

	ul.dashed>li {
		font-size: 0.8rem;
		line-height: 1.25rem;
	}

	.column {
		width: 50%;
		padding: 2px;
	}

	.close {
		z-index: 20;
		right: 5vw;
		padding: 0 2vw;
	}

	.myModal-SNT, .myModal-Comptapic, .myModal-Laravel, .myModal-Strathena {
		margin-top: 15vw;
	}

	.prev,
	.next {

		top: 50%;
		padding: 2vw;
		margin-top: -50px;
		color: white;
		font-size: 2.5vw;
		background-color: #18191b;
		opacity: 0.6;
	}

	.numbertext {
		font-size: 2vw;
		padding: 1vw 2vw;
	}

}